@import "tailwindcss";

:root {
  --colorBlack: #32322C;
  --colorWhite: #FFFFFA;
  --colorYellow: #FFCC00;
  --colorRed: #B80000;
  --colorBlue: #0B0258;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.italica {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bitcount {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}